.main:has(.wide-container-1400) {
  max-width: 1400px !important;
}

.main:has(.wide-container-1200) {
  max-width: 1200px !important;
}

.main:has(.wide-container-1100) {
  max-width: 1100px !important;
}

.main:has(.wide-container-1000) {
  max-width: 1000px !important;
}
